<!-- <p>dialog-add-course works!</p> -->
<h2 mat-dialog-title>Add Course</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="AddCourseForm" (Submit)="add_course_tutors()">
    <!-- <h2>{{data.tittle}}</h2> -->
    <mat-form-field class="example-full-width">
      <mat-label>Tutor's name</mat-label>
      <input matInput placeholder="enter name" formControlName="tutors">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Course name</mat-label>
        <input matInput placeholder="name" formControlName="course">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  type="submit" mat-button (click)="AddoFCourse()" [disabled]="AddCourseForm.invalid">Save</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>cancel</button>
</mat-dialog-actions>
