<p class="text-white">signup works!</p>
<main>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7">
              <div class="card shadow-sm border-0 rounded-lg mt-5">
                  <!-- <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div> -->
                  <div class="card-body">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                      <form [formGroup]="registerForm" (ngSubmit)="Registration()" style="border: none !important;">
                          <div class="form-row">
                              <div class=" col-md-6  col-sm-6">
                                  <div class="form-group">
                                      <input class="form-control form-control-user" formControlName="firstname" type="text" [class.is-invalid]="fName.invalid && fName.touched" [class.is-valid]="fName.valid && fName.touched" placeholder="Enter first name">
                                      <small class="text-danger txt-warn ml-4" *ngIf="fName.invalid && fName.touched">
                                        please fill out this input
                                      </small>
                                    </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <input class="form-control form-control-user" formControlName="lastname" type="text" [class.is-invalid]="lName.invalid && lName.touched" [class.is-valid]="lName.valid && lName.touched" placeholder="Enter last name">
                                      <small class="text-danger txt-warn ml-4" *ngIf="lName.invalid && lName.touched">
                                        please fill out this input
                                      </small>
                                    </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <input class="form-control form-control-user" formControlName="email" type="email" aria-describedby="emailHelp" [class.is-invalid]="myMail.invalid && fName.touched" [class.is-valid]="myMail.valid && myMail.touched" placeholder="Enter email address">
                              <small class="text-danger txt-warn ml-4" *ngIf="myMail.invalid && myMail.touched">
                                please fill out this input
                              </small>
                            </div>
                          <div class="form-row">
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <input class="form-control form-control-user" required minlength="8" formControlName="password" type="password" [class.is-invalid]="myPass.invalid && myPass.touched" [class.is-valid]="myPass.valid && myPass.touched" placeholder="Enter password">
                                      <span class="txt-warn ml-4" *ngIf="myPass.invalid && myPass.touched">
                                        <small class="text-danger txt-warn" *ngIf="myPass.errors.required">please password is reqiured</small>
                                        <small class="text-danger txt-warn" *ngIf="myPass.errors.minlength">please your pass must be minimum of 8</small>
                                      </span>
                                    </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <input class="form-control form-control-user"  required formControlName="confirmpassword" type="password" [class.is-invalid]="cPass.invalid && cPass.touched" [class.is-valid]="cPass.valid && cPass.touched" placeholder="Confirm password">
                                      <span class="text-danger txt-warn"*ngIf="cPass.invalid && cPass.touched">
                                        <small class="text-danger txt-warn ml-4" *ngIf="myPass!==cPass">Your password does not match</small>
                                      </span>
                                    </div>
                              </div>
                          </div>
                          <div class="form-group mt-3 mb-0"><button type="submit"  [disabled]="registerForm.invalid" class="btn-user btn-block">Create Account</button></div>
                      </form>
                      <hr>
                      <div class="text-center">
                        <a class="small s" href="forgot-password.html">Forgot Password?</a>
                      </div>
                      <div class="text-center">
                        <a class="small s" routerLink="/login">Already have an account? Login!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

</main>
