.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  /* background-color: aliceblue; */
  /* box-shadow: rgb(22, 24, 26); */
  /* background: linear-gradient(to bottom,#11131a,rgba(235, 235, 252, 0.329)); */
  /* color: black; */
}

.sidenav .mat-toolbar {
  background: inherit
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.form-control-user{
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.0rem 1rem;
  /* outline: none !important; */
}

